 /* navbar  */
 *{
    margin: 0;
    padding: 0;
}
#nav{
    display: flex;
    gap: 13%;
    
    padding: 17px;
    border-bottom: 1px solid gray;
}
#img{

margin-left:4% ;
}
#singup ,#addres_nav ,#payment{
    display: flex;
    width: 9%;
    justify-content: space-between;
    align-items: center;
}
#singup>div ,#addres_nav >div {
 background-color: rgba(255, 0, 0, 0.806);
 width: 30px;
 height: 30px;
 text-align: center;
border-radius:50% ;
color: white;
}
 .fa-check ,.fa-pencil{
    position: relative;
    top: 6px;
}
#payment >div{
    background-color:rgba(122, 114, 114, 0.84);
 width: 30px;
 height: 30px;
 text-align: center;
border-radius:50% ;
color: white;
align-items: center;
}
#payment p{
    margin-top: 5px;
}

/* address part  */

body{
overflow-x: hidden;
}
#container{
     
    width: 40%;
   margin-left: 15%;
   padding: 30px;
    height: 80vh;
    
}
#container h1{
font-size: 40px;
}
#container p,input{
    margin-top: 10px;
    color: gray;
}
#addres{
    border: 1px solid grey;
    border-style: dashed;
    border-radius: 10px;
    width: 58%;
    position:relative;
    top: 10%;
    left: 0%;
    height: 33%;
    text-align: center;
      
}
.already_address{
    border: 1px solid grey;
    border-radius: 10px;
    width: 54%;
    padding: 10px;
     
    font-size: 13px;
margin-bottom: 10px;

}

#addres:hover{
    background-color: rgba(248, 216, 216, 0.9);
}
#icon{
    margin-top: 20%;
    margin-bottom: 5px;
   
}
#icon+h3{
    color: red;
}
.new-address{
    width: 30%;
    height: 100vh;
    
    position: absolute;
    right: -50%;
    top: 0;
    z-index: 9;
    background-color: white;
    transition: 1s;
    
}
.new-address-show{
    right: 0%;
    
}
.top-part{
    display: flex;
    padding: 15px 0px ;
    padding-left: 30px;
    gap: 20px;
    border-bottom: 1px solid gray;
   
}
.top-part div{
     font-size: 20px;
     background-color: gray;
     width: 23px;
     text-align: center;
     border-radius: 50%;
}
.middle-part{
    overflow-y: scroll;
    padding: 30px;
    height: 65vh;
  
}
.middle-part >div{
   
display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    
}
input{
    height: 40px;
  
    border-radius: 5px;
    border-style: none;
    border: 1px solid gray;
}

input::placeholder{
    padding-left: 15px;
    
}
#area{
    height: 100px;
    
}
.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
}
.overlay-show{
    opacity: 1;
    z-index: 2;
}
button{
    background-color: #fd0814;
    width: 90%;
    height: 40px;
    border-style: none;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    
}
.bottom-part{
 
    padding: 25px;
    text-align: center;
}
.addreses{
   margin-top: 60px;
} 
.deliver_here{
background-color: red;
display: flex;
width: 40%;
margin-left: 23%;
margin-top: 10px;
text-align: center;
border-radius: 5px;
padding: 5px;
}
.deliver_here >p{
 position: relative;
 top: -5px;
 font-size: 15px;
 font-weight: 500;
}
.fa-arrow-right{
position: relative;
left: 15px;
 top: 14px;
}
.close{
cursor: pointer;
}